<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button disabled="true">
        <ion-icon name="home" style="opacity: 0;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pokedex</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pokedex</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list style="display: flex; flex-direction: column; height: 100%;">
    <ion-item style="flex: 1;" *ngFor="let p of pokemon" [routerLink]="['/pokemon-details', p.id]">
      <ion-avatar slot="start">
        <img src="{{ p.sprite }}">
      </ion-avatar>
      <ion-label>
        <h2 class="ion-text-capitalize">{{p.name}}</h2>
        <p style="font-size: 0.6em;">N° {{ p.id.toString().padStart(4, '0') }}</p>
      </ion-label>
      <app-pokemon-type *ngFor="let type of p.types" [type]="type"></app-pokemon-type>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="prevPage()">
        <ion-icon *ngIf="pokemonService.prevUrl; else blankIcon" name="arrow-back"></ion-icon>
        <ng-template #blankIcon>
          <ion-icon name="arrow-back" style="opacity: 0;"></ion-icon>
        </ng-template>
      </ion-button>
    </ion-buttons>
    <ion-title style="width: 100%; text-align: center;">
      Página {{pokemonService.page}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nextPage()">
        <ion-icon *ngIf="pokemonService.nextUrl; else blankIconEnd" name="arrow-forward"></ion-icon>
        <ng-template #blankIconEnd>
          <ion-icon name="arrow-forward" style="opacity: 0;"></ion-icon>
        </ng-template>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>